<% include ./head %>
<h1><%= h.siteName %></h1>
<code><% h.dump(user) %></code>
<p>Welcome to <%= h.siteName %></p>
<h3>Bone</h3>
<div id='map' style='width: 100%; height: 1000px;'></div>

<% include ./last %>