<footer class="container-fluid footer">
    <div class="center">
        <div class="container ">
            <div class="container-first">
                <div class="row">
                    <div class="col s12 m6 l6">
                        <h5>QUESTIONS?</h5>
                        <div class="divider"></div>
                        <div class="row">
                            <div class="col s12 m12 l12">
                                <ul>
                                    <li>
                                        <a class="footer-link" href="#">
                                            Contact Us
                                        </a>
                                    </li>
                                    <li>
                                        <a class="footer-link" href="#">
                                            Help
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col s12 m6 l6">
                        <h5>About Us</h5>
                        <div class="divider"></div>
                        <div class="row">
                            <div class="col s12 m12 l12">
                                <ul>
                                    <li>
                                        <a class="footer-link" href="#">
                                            About
                                        </a>
                                    </li>
                                    <li>
                                        <a class="footer-link" href="#">
                                            Events
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container footer-second-container">
                <div class="divider"></div>
                <div class="row">
                    <div class="col s8 offset-s2">
                        <h4 style="font-weight: bold;color: rgb(5, 57, 100) ">
                            <%- h.siteName %></h4>
                        <div>
                            <a class="btn-floating btn-large" style="margin: 5px" href="#">
                                <i class="fab fa-facebook-f">
                                </i>
                            </a>
                            <a class="btn-floating btn-large" style="margin: 5px" href="#">
                                <i class="fab fa-twitter">
                                </i>
                            </a>
                            <a class="btn-floating btn-large" style="margin: 5px" href="#">
                                <i class="fab fa-google-plus-g">
                                </i>
                            </a>
                            <a class="btn-floating btn-large" style="margin: 5px" href="#">
                                <i class="fab fa-linkedin-in">
                                </i>
                            </a>
                        </div>
                        <p>&copy; <%- h.siteName %> . All rights reserved</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>