</div>
<% include ./footer %>
<!-- <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false"></script> -->

<script src="/javascripts/jquery.js"></script>
<script src="/javascripts/popper.js"></script>
<script src="/javascripts/bootstrap.js"></script>
<script src="/javascripts/idb.js"></script>
<!-- <script src='https://static-assets.mapbox.com/gl-pricing/dist/mapbox-gl.js'></script> -->
<!-- <script src="https://maps.googleapis.com/maps/api/js?key=<%- h.MAP_KEY %>&callback=initMap&libraries=places"></script> -->


<script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js">
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=<%- h.MAP_KEY %>&callback=initMap&libraries=places"></script>

<!-- <script src="/javascripts/map.js"></script> -->
<script src="/javascripts/index.js"></script>
<script src="/src/materialize/js/materialize.js"></script>
<script src="/src/materialize/js/materialize.min.js"></script>

</body>

</html>