<div class="popup-card center">
    <div class="container">
        <div class="row">
            <div class="popup-form card col s8 m8 l8">
                <span class="heading">
                    <h3>Sign In</h3>
                </span>
                <form action="/login" method="POST">
                    <input class="col s12 m12 l12 " id="exampleInputUsername1" name='username' type="email" placeholder="Enter Email" />
                    <input class="col s12 m12 l12 " id="exampleInputPassword1" name="password" type="password"
                        placeholder="Enter Password" />
                    <button type="submit" class="btn btn-large btn-primary pop-btn col s12 m12 l12">Sign In</button>
                </form>
                <a href="/signup" class="center">Have An Account?</a>
            </div>
        </div>
    </div>
</div>