<% include ../head %>
<div class="container">
    <div id="offline_events_add" class="toast"  style="display: none;">You are offline you cannot add events but stories</div>
    <% include ./addForm %>
</div>

<% include ../last %>